@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --db-red: #f01414;
}

.text-db-red {
    color: var(--db-red);
}

.btn-i-hate-db{
    background-color: var(--db-red);
}

.btn-i-hate-db:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(184 20 20 / var(--tw-bg-opacity));
}